<p>Please enter a US address or zip code to get a weather report</p>

Examples:
<ul>
	<li>101 California St, San Francisco</li>
	<li>1107 S Duck St, Stillwater, OK 74074</li>
	<li>94901</li>
	<li>sea ranch, ca</li>
</ul>
<%= form_with url: "/weather_report/address", method: :post do |form| %>
  <%= form.label :address, "Address:" %>
  <%= form.text_field :address %>
  <%= form.submit "Go" %>
<% end %>
